<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
</body>
<form action="" method="POST">
<table>
    <tbody>
        <tr>
            <td>username:</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>password:</td>
            <td><input type="text" name="password"></td>
        </tr>
        <tr>
            <td>repeatpasswd:</td>
            <td><input type="text" name="repeatpasswd"></td>
        </tr>
        <tr><td><input type="submit" value="push"></td></tr>
    </tbody>
</table>
    </form>
</html>